body{
    background-color:#B0C4DE;
    color:black;
    text-align:center;
}

header{
    text-align:left;
    display:flex;
    justify-content:space-around;
    border-bottom: solid 3px black;
}

section
{
    display:flex;
    flex-direction: column;
    align-items:center;
}

#two_column{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

p{
    margin:5px;
    text-align: center;
}

.posts
{
    background-color: white;
    width:60%;
    border: solid black 2px;
    padding:5px;
    margin:5px;
}

ul{
    display:flex;
    flex-direction: column;
}

a:visited{
    color:maroon;
}

a:hover{
    color:pink;
}

form{
    border: rgb(28, 10, 10) 2px solid;
    border-radius:8px;
    padding:5px;
    width: 600px;
    background-color: lightgrey;
    margin: 10px;
}

h2{
    font-weight: bold;
    text-decoration: underline;
}

h4{
    font-style: italic;
    text-decoration: underline;
}

.btn
{
    margin:10px;
    background-color: lightgray;
    border:black solid 2px;
    max-height:20px;
}

.response_to
{
    margin:5px;
    background-color:lightblue;
    border:black solid 1px;
	border-radius:8px;
    box-shadow: 4px 4px 6px black;
}

a
{
    color:black;
}

a:hover
{
    color:red;
}