{% extends 'subscribers/container_page.html' %}
{% block mon_contenu %}
    <div id="two_column">
        <p>
            Inscrivez-vous:<br/>
            <form method="POST" action="{% url 'subscribe' %} " name="vers_inscription">
                {% csrf_token %}
                <input type="submit" value="S'inscrire" />
            </form>
        </p>
        <p>
            Connectez vous:<br/>
            <form method="POST" action="{% url 'to_bookViewpoints' %} " name="vers_bookViewpoints">
                {% csrf_token %}
                <input type="submit" value="Se connecter" />
            </form>

            <!-- Champs nom_utilisateur, mdp, et bouton connexion avec lien vers flux,
                    et vérification de l'existance du user -->
        </p>
    </div>
{% endblock %}