{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pages de l'utilisateur connecté</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <header>
        <h1>LITReview</h1>
            <ul>
                <li><a href="{% url 'bookViewpoints:flow' %}">Flux</a></li>
                <li><a href="{% url 'bookViewpoints:user_posts' %}">Posts</a></li>
                <li><a href="{% url 'bookViewpoints:followers' %}">Abonnements</a></li>
                <li><a href="{% url 'subscribers:logout' %}">Déconnection</a></li>
            </ul>
            
            {% if user.is_authenticated %}
                                        Connecté: {{ user.username }} - a rejoint le groupe le {{ user.date_joined }} <br/>
                {% else %}
                   !! Page hors connexion !!
                {% endif %}
    </header>

    <section>
        {% block mon_contenu %}
        {% endblock %}
    </section>
</body>
</html>
