{% extends 'bookViewPoints/container_page.html' %}
{% load static %}
    {% block mon_contenu%}
    <h2>FLUX</h2>
    {% for ticket in tickets %}
        Date: {{ ticket.times_created }} <br/>
        demandé par {{ ticket.user }} <br/>
        demande numéro {{ ticket.pk }} <br/>
        Description: {{ ticket.description }} <br/> <br/>
    {% endfor %}
    {% for review in reviews %}
        Date: {{ review.times_created }} <br/>
        posté par {{ review.user }} <br/>
        critique numéro {{ review.pk }} <br/>
        Titre de la critique: {{ review.headline }} <br/>
        Commentaire: {{ review.body }} <br/>
        Note: {{ review.rating }} <br/>
        en réponse à la demande de: {{ review.ticket.user }}
        <br/><br/>
    {% endfor %}
        <!-- Boutons demander une critique et créer une critique
                puis lister les 5 dernières infos -->
                
    {% endblock%}
