{% extends 'bookViewPoints/container_page.html' %}
    {% block mon_contenu%}
    <h2>Création d'un nouveau ticket</h2>
    <p>
        <form  action="{% url 'new_ticket' %}" method="post">
            {% csrf_token %}
            {{ formulaire.as_p }}
            <input type="submit" value="Envoyer"/>
        </form>  
        <!-- Titre et champ texte
             Description et champ description
             image et bouton télécharger un fichier
             bouton envoyer -->
    </p>
    {% endblock%}
    