<div class="posts">
    <div class="post_header">
        <div class="post_ref">Une critique a été postée par {{ post.user }} (critique numéro {{ post.pk }}) </div>
        <div class="post_date"> {{ post.time_display }} </div>
    </div>
    Commentaire: {{ post.headline }} <br/>
    {{ post.body }} <br/>
    Note: {{ post.rating }} <br/>
</p>
    <div class="response_to">
        <div class="post_header">
            <div class="post_ref">en réponse à la demande de {{ post.ticket.user }} </div>
            <div class="post_date"> {{ post.ticket.time_display }}</div>
        </div>
    {{ post.ticket.title }}: "{{ post.ticket.description }}"<br/>
    {% if post.ticket.image.url is not null %}
        <img src="{{ post.ticket.image.url }}" alt="image associée au ticket" title="image proposée" class="images" width="100" height=auto /><br/>
    {% endif %}
    </div> 
</div>