
    <div class="posts">
        <div class="post_header">
        <div class="post_ref">Un ticket a été déposé par {{ post.user }} (ticket numéro {{ post.pk }}) </div>
        <div class="post_date">{{ post.time_display }}</div>
        </div>
        Titre: {{ post.title}}<br/>
        "{{ post.description }}" <br/>
        {% if post.image.url is not null %}
            <img src="{{ ticket.image.url }}" alt="image associée au ticket" title="image proposée" class="images" width="100" height=auto /><br/>
        {% endif %}
        {% if not post.answer %}
        <div class="btn_wrap">
        <span class="btn">  <a href="{% url 'bookViewpoints:ticket_answer' ticket_id=ticket.pk %}">Répondre à ce ticket</a></span>
        </div>
        {% endif %}
    </div>
