{% extends 'bookViewPoints/container_page.html' %}
    {% block mon_contenu%}
    <p>Nouvelle critique</p>
    <p>Vous êtes en train de répondre à 
        <!-- nom du user qui a crée le ticket -->
        <!-- afficher le ticket:
             nom du user "a demandé le" date ticket
             titre livre
             image livre ou autre affichage
             description ticket -->
    </p>
    <p>
        <!-- Titre et champ texte
             Description et champ description
             image et bouton télécharger un fichier
             titre critique et champ texte
             Note et 6 boutons radio
             commentaire et champ texte -->
    </p>
    {% endblock%}