{% extends 'bookViewPoints/container_page.html' %}
    {% block mon_contenu%}
    <h2>Mes posts</h2>
    <h4>Mes 5 derniers tickets</h4>
    {% for ticket in tickets %}
        Date: {{ ticket.time_created }} <br/>
        demandé par {{ ticket.user }} <br/>
        demande numéro {{ ticket.pk }} <br/>
        Nom du livre: {{ ticket.book_name.title }} <br/>
        Description: {{ ticket.description }} <br/> <br/>
    {% endfor %}
    <h4>Mes 5 dernières critiques</h4>
    {% for review in reviews %}
        Date: {{ review.time_created }} <br/>
        posté par {{ review.user }} <br/>
        critique numéro {{ review.pk }} <br/>
        Nom du livre: {{ review.book_name.title }} <br/>
        Titre de la critique: {{ review.headline }} <br/>
        Commentaire: {{ review.body }} <br/>
        Note: {{ review.rating }} <br/>
        en réponse à la demande de: {{ review.ticket_ref.user }}
        <br/><br/>
    {% endfor %}
    <h4>Les posts plus anciens:
        <!-- liste de tous les autres posts,
             à afficher si il y a plus de 5 posts -->
        </h4>
    {% endblock%}
